%h1 MEPs

%table
  .container-fluid
    .table-responsive
      .table
        %thead
          %tr
            %th ID

        %tbody
          - @mep_audios.each do |mep_audio|
            %tr
              %td= mep_audio.id


= link_to 'New MEP', new_project_project_partial_mep_audio_path